* {
    box-sizing: border-box;
  }

body {
    height: 100vh;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
   font-size: 5vmin;
    color: gray;
}

#board {
display: grid;
grid-template-columns: repeat(10, 6vmin);
grid-template-rows: repeat(10, 6vmin);
gap: 0.1vmin;
margin-top: 3vmin;
}

#board > div {
    border: 0.2vmin solid rgb(238, 238, 238);
    
}

#board > div:hover {
        background-color: rgb(195, 195, 195);
}

button {
    padding: 1vmin;
    font-size: 2vmin;
    color: gray;
}

h4 {
    font-size: 3vmin;
    color: gray;
}

/*
<tile element>:hover {
    background-color: darkgray; 
}
*/